<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>

<body>
    <h1>form</h1>
    <form action="/addbook" method="post">
        <input placeholder="enter your book name" name="bookname">
        <input placeholder="enter author name" name="authorofbook">
        <input placeholder="enter price of book" name="priceofbook">
        <button type="submit">Submit</button>
    </form>
</body>

</html>