<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <h1>edit page</h1>
    <form action="/updatebook" method="post">
        <input type="hidden" name="id" value="<%= editinfo._id %>">

        <input placeholder="enter the book name" name="name" value="<%=editinfo.bookname%>">
        <input placeholder="enter the author name" name="author" value="<%=editinfo.authorofbook%>">
        <input placeholder="enter the price" name="price" value="<%=editinfo.priceofbook%>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>